xsd/flux/flux_produits_v23.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by robin (ecocea) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="seo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="urlKeyword"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="pageTitle" minOccurs="0"/>
					<xs:element ref="metaDesc" minOccurs="0"/>
					<xs:element ref="metaKeyword" minOccurs="0"/>
					<xs:element ref="imageAltText" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="seoItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="urlKeyword"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sku">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="254"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:all>
				<xs:element ref="sku"/>
				<xs:element ref="isDefault"/>
				<xs:element ref="published"/>
				<xs:element ref="label"/>
				<xs:element ref="shortDesc"/>
				<xs:element ref="longDesc"/>
				<xs:element ref="additionalDesc1"/>
				<xs:element ref="additionalDesc2"/>
				<xs:element ref="imageThumbnail"/>
				<xs:element ref="imageFull" />
				<xs:element ref="seoItem" minOccurs="0"/>
				<xs:element ref="attributeValueList" minOccurs="0"/>
				<xs:element ref="associatedAssetList" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="16"/>
				<xs:enumeration value="STANDARD"/>
				<xs:enumeration value="SUR_MESURE"/>
				<xs:enumeration value="COLLECTION"/>
				<xs:enumeration value="CATALOGUE_PAPIER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="label" type="String128WithLocaleAttribute"/>
	<xs:element name="usage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ANGLEIMAGES_FULLIMAGE"/>
				<xs:enumeration value="ANGLEIMAGES_THUMBNAIL"/>
				<xs:enumeration value="GRIDIMAGES_FULLIMAGE"/>
				<xs:enumeration value="ICON"/>
				<xs:enumeration value="BRAND_LOGO"/>
				<xs:enumeration value="COLLECTION_DESC"/>
				<xs:enumeration value="COLLECTION_COMPO_TYPE"/>
				<xs:enumeration value="TOOL_LINK"/>
				<xs:enumeration value="YOUTUBE_VIDEO"/>
				<xs:enumeration value="PERSONNALISATION_DESKTOP"/>
				<xs:enumeration value="PERSONNALISATION_MOBILE"/>
				<xs:enumeration value="USERMANUAL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="action">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="delete"/>
				<xs:enumeration value="update"/>
				<xs:enumeration value="add"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:all>
				<xs:element ref="sender"/>
				<xs:element ref="SASid"/>
				<xs:element ref="extractDate"/>
				<xs:element ref="targetCatalog"/>
				<xs:element ref="nbDataEntries"/>
				<xs:element ref="credentials"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="SASid" type="xs:string"/>
	<xs:element name="nbDataEntries" type="xs:integer"/>
	<xs:element name="credentials">
		<xs:complexType>
			<xs:all>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>


	<xs:element name="sender">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="fileUrl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="256"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="keyword" type="String254WithLocaleAttribute"/>
	<xs:element name="message">
		<xs:complexType>
			<xs:all>
				<xs:element ref="header"/>
				<xs:element ref="data"/>
			</xs:all>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="productImport"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:all>
				<xs:element ref="action"/>
				<xs:element ref="partnumber"/>
				<xs:element ref="type"/>
				<xs:element ref="published"/>
				<xs:element ref="label"/>
				<xs:element ref="shortDesc" />
				<xs:element ref="longDesc"/>
				<xs:element ref="additionalDesc1" />
				<xs:element ref="additionalDesc2" />
				<xs:element ref="brandPartnumber"/>
				<xs:element ref="brandName"/>
				<xs:element ref="keyword" minOccurs="0"/>
				<xs:element ref="imageThumbnail" />
				<xs:element ref="imageFull" />
				<xs:element ref="categoriesParentList"/>
				<xs:element ref="seo"/>
				<xs:element ref="associatedAssetList" minOccurs="0"/>
				<xs:element ref="attributeValueList" minOccurs="0"/>
				<xs:element ref="itemList"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="longDesc" type="String1000000WithLocaleAttribute" nillable="true"/>
	<xs:element name="metaDesc" type="String1024WithLocaleAttribute"/>
	<xs:element name="attrUsage" type="xs:byte"/>
	<xs:element name="brandName" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="imageFull" type="String254WithLocaleAttribute" nillable="true"/>
	<xs:element name="isDefault" type="xs:boolean"/>
	<xs:element name="pageTitle" type="String254WithLocaleAttribute"/>
	<xs:element name="published">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:boolean">
					<xs:attribute name="locale" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fr"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="shortDesc" type="String254WithLocaleAttribute" nillable="true"/>
	<xs:element name="brandImage">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="identifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="partnumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="urlKeyword" type="UrlKeywordString"/>
	
	<xs:element name="extractDate" type="xs:dateTime"/>
	<xs:element name="metaKeyword" type="String254WithLocaleAttribute"/>
	<xs:element name="valueString" type="String2000WithLocaleAttribute" substitutionGroup="attrValueChoiceFacet"/>
	<xs:element name="attrSequence" type="xs:double" default="0"/>
	<xs:element name="sequence" type="xs:double" default="0"/>
	<xs:element name="imageAltText" type="String254WithLocaleAttribute"/>
	<xs:element name="valueDecimal" substitutionGroup="attrValueChoiceFacet">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="locale" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fr"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueInteger" substitutionGroup="attrValueChoiceFacet">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:integer">
					<xs:attribute name="locale" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fr"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="targetCatalog">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="future"/>
				<xs:enumeration value="current"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="attrIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="254"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="attributeValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attrIdentifier"/>
				<xs:element ref="attrSequence"/>
				<xs:element ref="attrUsage"/>
				<xs:element ref="valueIdentifier" minOccurs="0"/>
				<xs:element ref="attrValueChoiceFacet" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="attrValueChoiceFacet" abstract="true" />
	<xs:element name="imageThumbnail" type="String254WithLocaleAttribute" nillable="true"/>
	<xs:element name="additionalDesc1" type="String4000WithLocaleAttribute" nillable="true"/>
	<xs:element name="additionalDesc2" type="String4000WithLocaleAttribute" nillable="true"/>
	<xs:element name="associatedAsset">
		<xs:complexType>
			<xs:all>
				<xs:element ref="identifier" />					
				<xs:element ref="usage"/>
				<xs:element ref="sequence" minOccurs="0"/>
				<xs:element ref="fileUrl"/>
				<xs:element ref="label"/>
				<xs:element ref="shortDesc" minOccurs="0"/>
				<xs:element ref="longDesc" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="brandPartnumber" nillable="true">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="valueIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="254"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="attributeValueList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="attributeValue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="categoryIdentifier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="254"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="categoryParent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="categoryIdentifier"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="associatedAssetList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="associatedAsset" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="categoriesParentList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="categoryParent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="LocaleType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="locale" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="fr"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String254WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="254"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String128WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String64WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String32WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String16WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String4000WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="4000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String1000000WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="1000000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String1024WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="1024"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="String2000WithLocaleAttribute">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="2000"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="UrlKeywordString">
		<xs:simpleContent>
			<xs:restriction base="LocaleType">
				<xs:maxLength value="254"/>
				<xs:pattern value="[^+_?=#/% .]+"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>