xsd/flux/flux_tarifs_v7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by robin (ecocea) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="itemPriceList"  maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemPriceList">
		<xs:complexType>
			<xs:all>
				<xs:element name="sku" type="String254"/>
				<xs:element ref="priceList"  />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="priceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="price" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:complexType>
			<xs:all>
				<xs:element name="part" type="priceFullType"  minOccurs="0"/>
				<xs:element name="pro" type="priceFullType"  minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="priceFullType" >
		<xs:all>
			<xs:element name="startDate"  type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="endDate"  type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="standardPrice" type="priceDescType" minOccurs="1"/>
			<xs:element ref="discountPriceList" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="discountPriceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="discountPrice"  type="priceDescType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="priceDescType" >
		<xs:all>
			<xs:element name="unitPriceWithVAT" type="unitPriceType" />
			<xs:element name="vatPercentage" type="xs:decimal"/>
			<xs:element name="codeTarif" type="String254" minOccurs="0"/>
			<xs:element ref="ecoPartList" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:element name="ecoPartList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ecoPart" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ecoPart">
		<xs:complexType>
			<xs:all>
				<xs:element name="typeEcoPart" type="String10"/>
				<xs:element name="ecoPartLabel" type="String254"/>
				<xs:element name="ecoAmountWithVAT" type="unitPriceType"/>
				<xs:element name="ecoItemCode" type="String254"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="String254">
			<xs:restriction base="xs:string">
				<xs:maxLength value="254"/>
			</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="String10">
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="unitPriceType">
		<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="currency" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="EUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
	</xs:complexType>
	<xs:element name="header">
		<xs:complexType>
			<xs:all>
				<xs:element ref="sender"/>
				<xs:element ref="SASid"/>
				<xs:element ref="extractDate"/>
				<xs:element ref="targetCatalog"/>
				<xs:element ref="nbDataEntries"/>
				<xs:element ref="credentials"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="nbDataEntries" type="xs:integer"/>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="SASid" type="xs:string"/>
	<xs:element name="credentials">
		<xs:complexType>
			<xs:all>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="extractDate" type="xs:dateTime"/>
	<xs:element name="targetCatalog">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="future"/>
				<xs:enumeration value="current"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:all>
				<xs:element ref="header"/>
				<xs:element ref="data"/>
			</xs:all>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="priceImport"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>