xsd/flux/flux_relations_v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by robin (ecocea) -->
<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="relation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="add"/>
				<xs:enumeration value="delete"/>
				<!--<xs:enumeration value="update"/>-->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sender"/>
				<xs:element ref="SASid"/>
				<xs:element ref="extractDate"/>
				<xs:element ref="targetCatalog"/>
				<xs:element ref="nbDataEntries"/>
				<xs:element ref="credentials"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nbDataEntries" type="xs:integer"/>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="SASid" type="xs:string"/>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="relationImport"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="credentials">
		<xs:complexType>
			<xs:all>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="relType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="collection"/>
				<xs:enumeration value="cross_sell"/>
				<xs:enumeration value="up_sell"/>
				<xs:enumeration value="remplacement"/>
				<xs:enumeration value="substitution"/>
				<xs:enumeration value="complementaire"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action"/>
				<xs:element ref="sourceIdentifier"/>
				<xs:element ref="targetIdentifier"/>
				<xs:element ref="relType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extractDate" type="xs:dateTime"/>
	<xs:element name="targetCatalog">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="future"/>
				<xs:enumeration value="current"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sourceIdentifier" type="xs:string"/>
	<xs:element name="targetIdentifier" type="xs:string"/>
</xs:schema>
