xsd/flux/flux_arc_v0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2015 sp2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sender"/>
				<xs:element ref="SASid" minOccurs="0"/>
				<xs:element ref="extractDate"/>
				<xs:element ref="targetCatalog" minOccurs="0" />
				<xs:element ref="nbDataEntries" minOccurs="0" />
				<xs:element ref="credentials"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sender" type="xs:string"/>
	<xs:element name="SASid" type="xs:string" />
	<xs:element name="extractDate" type="xs:dateTime"/>
	<xs:element name="nbDataEntries" type="xs:integer"/>
	<xs:element name="credentials">
		<xs:complexType>
			<xs:all>
				<xs:element name="login" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="header"/>
				<xs:element ref="data"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="arc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numeroCommandeWeb"/>
				<xs:element ref="numeroCommandeMagasin"/>
				<xs:element ref="idMagasin"/>
				<xs:element ref="idClientCRM"/>
				<xs:element ref="infosStatut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="numeroCommandeWeb"  type="xs:string" />
	<xs:element name="numeroCommandeMagasin"  type="xs:string" />
	<xs:element name="idMagasin" type="xs:string" />
	<xs:element name="idClientCRM" type="xs:string" />

	<xs:element name="infosStatut">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codeStatut"/>
				<xs:element ref="libelleStatut" minOccurs="0" />
				<xs:element ref="dateStatut"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="codeStatut" type="xs:string" />
	<xs:element name="dateStatut">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="annee"/>
				<xs:element ref="mois"/>
				<xs:element ref="jour"/>
				<xs:element ref="heure"/>
				<xs:element ref="minute"/>
				<xs:element ref="seconde"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="annee" type="xs:integer" />
	<xs:element name="mois" type="xs:byte" />
	<xs:element name="jour" type="xs:byte" />
	<xs:element name="heure" type="xs:byte" />
	<xs:element name="minute" type="xs:byte"/>
	<xs:element name="seconde" type="xs:byte"/>
	<xs:element name="libelleStatut" type="xs:string" />
	<xs:element name="targetCatalog"  type="xs:string" />
</xs:schema>
