xsd/target2sell/wcs-target2sell.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="category">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string"/>
			<xs:element name="description">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name"/>
						<xs:element name="shortDescription">						  
						</xs:element>
					</xs:sequence>
					<xs:attribute name="locale" type="xs:string"/>
					<xs:attribute name="languageId" type="xs:integer"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="category"/>
			<xs:element maxOccurs="1" minOccurs="0" name="products">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="product"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uniqueId" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:complexType name="product">
		<xs:sequence>
			<xs:element name="partNumber" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="manufacturer" type="xs:string"/>			
			<xs:element name="description">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name"/>
						<xs:element name="URL" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="thumbnail" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="shortDescription">
						  </xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="onspecial" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="locale" type="xs:string" use="optional"/>
					<xs:attribute name="languageId" type="xs:integer" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="price" type="price"/>
			<xs:element maxOccurs="1" minOccurs="0" name="items">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="item"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uniqueId" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:complexType name="item">
		<xs:sequence>
			<xs:element name="partNumber" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="manufacturer" type="xs:string"/>
			<xs:element name="description">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name"/>
						<xs:element name="URL" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="thumbnail" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="shortDescription"/>
						<xs:element name="buyable" type="xs:string"/>
						<xs:element maxOccurs="1" minOccurs="0" name="onspecial" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="locale" type="xs:string" use="optional"/>
					<xs:attribute name="languageId" type="xs:integer" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="attributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="productAttribute"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="price" type="price"/>
		</xs:sequence>
		<xs:attribute name="uniqueId" type="xs:int" use="optional"/>
	</xs:complexType>

	<xs:complexType name="productAttribute">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string"/>
			<xs:element name="description">
				<!--
							<xs:attribute type="xs:string" name="locale" use="optional"/>
							<xs:attribute type="xs:integer" name="languageId" use="optional"/>
				-->
			</xs:element>
			<xs:element name="values">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="value" type="attributeValue"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="uniqueId" type="xs:long" use="optional"/>
	</xs:complexType>

	<xs:complexType name="attributeValue">
		<xs:sequence>
			<xs:element name="identifier" type="xs:string"/>
			<xs:element name="description">
				<!--
							<xs:attribute type="xs:string" name="locale" use="optional"/>
							<xs:attribute type="xs:integer" name="languageId" use="optional"/>
				-->
			</xs:element>
		</xs:sequence>
		<xs:attribute name="uniqueId" type="xs:long" use="optional"/>
	</xs:complexType>

	<xs:complexType name="price">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="value" type="xs:float"/>
      <!-- optional at product level -->
			<xs:element name="currencyCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="categories">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="category" type="category"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>